*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8dbd3;
    position: relative;
    height: 100vh;
    
}

header{
    background-color: #009688;
    height: 100px;
}

a{
    color: #68879b;
}

img{
   width: 40px;
}

.container{
   
    display: flex;
    width: 70%;
    margin: 20px auto;
    height: 80%;
    background-color: #eaeaea;
    border: 1px solid black;
}
/* contenitore contatti sx */
.contacts{
    background-color: white;
    width: 40%;
    
}
.profile-avatar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #eaeaea;
}

.avatar-info{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.icons i{
    padding: 0 5px;
    color: #a9a9a9;
}


/* banner */
.banner{
    display: flex;
    align-items: center;
    background-color: #8edafc;
    height: 70px;
}

.fa-bell-slash{
    background-color: #f2fbff;
    color: #8edafc;
    font-size: x-large;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
   
}





/* contenitore chat dx */
.chat{
    background-color: #eaeaea;
    width: 70%;
    margin-right: 10px;
    border-left: 1px solid darkgrey;
}

.chat-header{
    height: 50px;
    

}

.chat-main{
    height: calc(100% - 100px);
    background-color: darkgrey;
}

.chat-footer{
    height: 50px;
    
}